body {
  margin: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
}

p {
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  font-size: 30px;
}

#HUD {
  border-bottom: 2px solid white;
}
